@inherits RazorLayoutSlice<LayoutModel>

@{
    string selected = "font-weight: bolder;";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RT4K - @Model.Title</title>
        <link rel="stylesheet" href="/Static/w3.css">
        @await RenderSectionAsync("ExtraHeaders")
    </head>
    <body class="w3-metro-light-blue">
        <!-- Sidebar -->
        <div class="w3-sidebar w3-light-gray w3-card-4" style="width: 190px; display: block;">
            <div class="w3-bar-block w3-win8-steel w3-padding-16 w3-center">
                <b>RT4K</b>
            </div>
            <div class="w3-bar-block">
                <a href="/" class="w3-bar-item w3-button" style="@(Model.Title == "Status" ? selected : "")">Status</a>
                <a href="/Remote" class="w3-bar-item w3-button" style="@(Model.Title == "Remote" ? selected : "")">Remote</a>
                <a href="/Settings" class="w3-bar-item w3-button" style="@(Model.Title == "Settings" ? selected : "")">Settings</a>
                <a href="/Calculator" class="w3-bar-item w3-button" style="@(Model.Title == "Video Timings Calculator" ? selected : "")">Timings Calculator</a>
                <a href="/DebugLog" class="w3-bar-item w3-button" style="@(Model.Title == "Debug Log" ? selected : "")">Debug Log</a>
            </div>
        </div>

        <!-- Page content -->
        <div style="margin-left: 200px;">
            <div class="w3-container">
                @if(!string.IsNullOrWhiteSpace(Model.Error))
                {
                    <div class="w3-panel w3-card w3-red w3-round-large"><p><b>ERROR: @Model.Error</b></p></div>
                }
                <h1>@Model.Title</h1>
                @await RenderBodyAsync()
            </div>
        </div>
    </body>
</html>