@inherits RazorSliceHttpResult<AppState>
@implements IUsesLayout<_Layout, LayoutModel>

@functions {
    public LayoutModel LayoutModel => new() {
        Title = "Remote",
        ExtraHeaders = new("<script src='/Static/imageMapResizer.min.js'></script>")
    };
}

<div>
    <img style="width: 0px; position: absolute;" src="Static/rt4k_remote.avif" id="remote" />
    <img style="width: 0px; position: absolute; opacity: 0%;" src="Static/rt4k_remote_led.png" usemap="#image-map" id="remoteLed" />
    <div style="position: relative; left: 0px; margin-left: 10px;" id="scaleButtons">
        <p><button class="@LayoutModel.ButtonClasses" onclick="handleScale(25); return false;" type="button">25%</button></p>
        <p><button class="@LayoutModel.ButtonClasses" onclick="handleScale(33); return false;" type="button">33%</button></p>
        <p><button class="@LayoutModel.ButtonClasses" onclick="handleScale(50); return false;" type="button">50%</button></p>
        <p><button class="@LayoutModel.ButtonClasses" onclick="handleScale(66); return false;" type="button">66%</button></p>
        <p><button class="@LayoutModel.ButtonClasses" onclick="handleScale(75); return false;" type="button">75%</button></p>
        <p><button class="@LayoutModel.ButtonClasses" onclick="handleScale(100); return false;" type="button">100%</button></p>
    </div>
</div>

<map name="image-map">
    <area alt="Power" title="Power" href="#" coords="106,203,276,375" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Menu" title="Menu" href="#" coords="115,1036,261,1039,261,1090,172,1181,116,1182" shape="poly" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Up" title="Up" href="#" coords="338,1239,246,1145,319,1097,410,1079,512,1095,584,1147,489,1238,417,1213" shape="poly" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Down" title="Down" href="#" coords="342,1435,410,1462,488,1436,582,1530,514,1577,411,1596,313,1576,248,1529" shape="poly" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Left" title="Left" href="#" coords="317,1260,220,1165,171,1247,158,1338,171,1424,223,1508,316,1411,291,1339" shape="poly" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Right" title="Right" href="#" coords="514,1262,610,1166,657,1245,674,1339,653,1437,610,1510,514,1411,538,1340" shape="poly" onclick="handleAreaClick(this.alt); return false;">
    <area alt="OK" title="OK" href="#" coords="415,1338,89" shape="circle" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Back" title="Back" href="#" coords="569,1034,715,1035,714,1185,658,1183,569,1092" shape="poly" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Diagnostic" title="Diagnostic" href="#" coords="114,1492,116,1638,264,1639,262,1580,170,1491" shape="poly" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Status" title="Status" href="#" coords="717,1490,717,1639,569,1639,569,1583,657,1491" shape="poly" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Input" title="Input" href="#" coords="317,207,428,268" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Output" title="Output" href="#" coords="466,208,576,268" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Scaler" title="Scaler" href="#" coords="616,207,726,268" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="SFX" title="SFX" href="#" coords="318,311,428,372" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="ADC" title="ADC" href="#" coords="465,309,577,372" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile" title="Profile" href="#" coords="615,310,725,371" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 1" title="Profile 1" href="#" coords="106,441,277,542" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 2" title="Profile 2" href="#" coords="328,441,502,543" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 3" title="Profile 3" href="#" coords="552,439,726,544" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 4" title="Profile 4" href="#" coords="104,581,278,685" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 5" title="Profile 5" href="#" coords="327,582,502,685" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 6" title="Profile 6" href="#" coords="553,581,726,684" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 7" title="Profile 7" href="#" coords="104,724,277,825" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 8" title="Profile 8" href="#" coords="328,723,502,826" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 9" title="Profile 9" href="#" coords="552,723,725,825" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 10" title="Profile 10" href="#" coords="104,866,278,967" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 11" title="Profile 11" href="#" coords="329,864,502,967" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Profile 12" title="Profile 12" href="#" coords="551,865,725,967" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Gain" title="Gain" href="#" coords="114,1709,277,1896" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Phase" title="Phase" href="#" coords="115,1896,277,2081" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Pause" title="Pause" href="#" coords="344,1727,486,1868" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Safe" title="Safe" href="#" coords="344,1919,487,2061" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Genlock" title="Genlock" href="#" coords="553,1707,717,1896" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Buffer" title="Buffer" href="#" coords="553,1895,714,2081" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Resolution 4K" title="Resolution 4K" href="#" coords="104,2150,228,2229" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Resolution 1080p" title="Resolution 1080p" href="#" coords="270,2150,395,2228" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Resolution 1440p" title="Resolution 1440p" href="#" coords="436,2150,560,2229" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Resolution 480p" title="Resolution 480p" href="#" coords="603,2150,726,2230" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Resolution User 1" title="Resolution User 1" href="#" coords="103,2291,229,2372" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Resolution User 2" title="Resolution User 2" href="#" coords="269,2290,394,2371" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Resolution User 3" title="Resolution User 3" href="#" coords="437,2290,561,2370" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Resolution User 4" title="Resolution User 4" href="#" coords="602,2292,727,2370" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Aux 1" title="Aux 1" href="#" coords="104,2573,228,2653" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Aux 2" title="Aux 2" href="#" coords="269,2573,394,2654" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Aux 3" title="Aux 3" href="#" coords="437,2574,561,2653" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Aux 4" title="Aux 4" href="#" coords="601,2574,726,2653" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Aux 5" title="Aux 5" href="#" coords="104,2715,229,2795" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Aux 6" title="Aux 6" href="#" coords="269,2715,394,2794" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Aux 7" title="Aux 7" href="#" coords="437,2716,561,2794" shape="rect" onclick="handleAreaClick(this.alt); return false;">
    <area alt="Aux 8" title="Aux 8" href="#" coords="603,2716,727,2794" shape="rect" onclick="handleAreaClick(this.alt); return false;">
</map>

<script>
    async function handleAreaClick(param) {
        blinkImage();

        await fetch(`/RemoteCommand/${param.replace(/\s/g, "")}`, { method: 'POST' });
    }

    function blinkImage() {
        const image = document.getElementById('remoteLed');
        let count = 0;
        const maxBlinks = 6;
        const opacities = [1, 0.75];

        image.style.opacity = opacities[0];

        const interval = setInterval(() => {
            count++;
            image.style.opacity = opacities[count % 2];
            if (count >= maxBlinks) {
                clearInterval(interval);
                image.style.opacity = 0;
            }
        }, 50);
    }

    let oldFactor = @(Model.Settings.RemoteScale);

    async function handleScale(factor) {
        const remoteImage = document.getElementById('remote');
        const ledImage = document.getElementById('remoteLed');
        const buttonDiv = document.getElementById('scaleButtons');

        remoteImage.style.width = (830 * (factor / 100.0)) + "px";
        ledImage.style.width = (830 * (factor / 100.0)) + "px";
        buttonDiv.style.left = (830 * (factor / 100.0)) + "px";

        imageMapResize();

        if (factor != oldFactor)
        {
            await fetch(`/UpdateSetting/RemoteScale/${factor}`, { method: 'POST' });
        }

        oldFactor = factor;
    }

    handleScale(@Model.Settings.RemoteScale);
</script>