@inherits RazorSliceHttpResult<AppState>
@implements IUsesLayout<_Layout, LayoutModel>

@functions {
    public LayoutModel LayoutModel => new() { Title = "Settings" };
}

<h2>Updates</h2>

<div class="w3-panel">
    <table class='w3-table-all w3-card' style='max-width: 700px;'>
        <tr><th>Current version:</th><td>@(rt4k_pi.Program.VERSION)</td></tr>
        <tr><th>Latest version:</th><td><span id="latestVersion">@Model.Settings.LatestVersion</span>&nbsp;&nbsp; <button class="@LayoutModel.ButtonClasses" onclick="checkUpdates(); return false;" type="button" id="checkUpdatesButton">Check for updates</button>&nbsp;<button class="@LayoutModel.ButtonClasses" onclick="installUpdate(); return false;" type="button" id="installUpdateButton">Install Update</button></td></tr>
        <tr><th>Status:</th><td id="updateStatus">Idle</td></tr>
    </table>
</div>

<script>
    async function checkUpdates() {
        try {
            document.getElementById("checkUpdatesButton").disabled = true;

            const response = await fetch("/CheckUpdates");
            if (!response.ok) {
                throw new Error("Network response was not ok")
            }
            const data = await response.text()
            document.getElementById("latestVersion").textContent = data;
        }
        catch (error) {
            console.error("Error fetching latest version: ", error);
            document.getElementById("latestVersion").textContent = "Error";
        }
        finally {
            document.getElementById("checkUpdatesButton").disabled = false;
        }
    }

    async function installUpdate() {
        try {
            const response = await fetch("/InstallUpdate", { method: 'POST' });
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            document.getElementById("installUpdateButton").disabled = true;
        }
        catch (error) {
            console.error("Error triggering update: ", error);
            document.getElementById("updateStatus").textContent = "Error triggering update";
        }
    }

    // Function to update table cell content
    async function updateTableCell() {
        const statusElement = document.getElementById("updateStatus");

        try {
            const response = await fetch("/GetUpdateStatus");
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            const data = await response.text(); // Adjust if response is JSON

            // Refresh the page if we were doing something and are now idle.
            const oldStatus = statusElement.textContent;
            if (oldStatus != "Idle" && data == "Idle") {
                location.reload();
            }

            statusElement.textContent = data;
        } catch (error) {
            console.error("Error fetching update status:", error);
            statusElement.textContent = "Unknown";
        } finally {
            // Schedule the next update only after the current one finishes
            setTimeout(updateTableCell, 1000);
        }
    }

    // Start the update loop
    updateTableCell();
</script>

<h2>Services</h2>

<div class='w3-panel'>
    <table class='w3-table-all w3-card' style='max-width: 700px;'>
        <tr><th style="width: 25%;">SMB/CIFS</th><td><input class="w3-check" id="enableSmb" type="checkbox" disabled /> <label for="enableSmb">Enable</label></td></tr>
        <tr><th>ser2net</th><td><input class="w3-check" id="EnableSer2net" type="checkbox" onchange="sendCheckboxState(this)" @(Model.Settings.EnableSer2net ? "checked" : "") /> <label for="EnableSer2net">Enable</label></td></tr>
        <tr><th>Pizza</th><td><input class="w3-check" id="enablePizza" type="checkbox" disabled /> <label for="enablePizza">Enable (coming soon)</label></td></tr>
    </table>
</div>

<h2>Settings</h2>

<div class='w3-panel'>
    <table class='w3-table-all w3-card' style='max-width: 700px;'>
        <tr><th style="width: 25%;">Verbose logging</th><td><input class="w3-check" id="VerboseLogging" type="checkbox" onchange="sendCheckboxState(this)" @(Model.Settings.VerboseLogging ? "checked" : "") /> <label for="VerboseLogging">Enable</label></td></tr>
    </table>
</div>

<script>
    async function sendCheckboxState(checkbox) {
        try {
            const response = await fetch(`/UpdateSetting/${checkbox.id}/${checkbox.checked}`, { method: 'POST' });
            if (!response.ok)
            {
                throw new Error ("Network response was not ok");
            }
        } catch (error) {
            console.error("Error updating checkbox", error);
            checkbox.checked = !checkbox.checked;
        }
    }
</script>