@using System.Diagnostics
@using System.Net.NetworkInformation
@using System.Net.Sockets
@inherits RazorSliceHttpResult<AppState>
@implements IUsesLayout<_Layout, LayoutModel>

@functions {
    public LayoutModel LayoutModel => new() { Title = "Status" };

    private TimeSpan GetUptime() => TimeSpan.FromSeconds(Stopwatch.GetTimestamp() / Stopwatch.Frequency);

    private string FormatTimeSpan(TimeSpan span) =>
        $"{(span.Days > 0 ? $"{span.Days} day{(span.Days > 1 ? "s" : "")}, " : "")}" +
        $"{(span.Hours > 0 ? $"{span.Hours} hour{(span.Hours > 1 ? "s" : "")}, " : "")}" +
        $"{(span.Minutes > 0 ? $"{span.Minutes} minute{(span.Minutes > 1 ? "s" : "")}, " : "")}" +
        $"{span.Seconds} second{(span.Seconds != 1 ? "s" : "")}".TrimEnd(',', ' ');

    private static string GetLocalIPAddress()
    {
        return NetworkInterface
            .GetAllNetworkInterfaces()
            ?.FirstOrDefault(ni => ni.OperationalStatus == OperationalStatus.Up && (ni.NetworkInterfaceType == NetworkInterfaceType.Ethernet || ni.NetworkInterfaceType == NetworkInterfaceType.Wireless80211))
            ?.GetIPProperties()
            ?.UnicastAddresses
            ?.FirstOrDefault(ua => ua.Address.AddressFamily == AddressFamily.InterNetwork)
            ?.Address
            ?.ToString()
            ?? "Unknown";
    }

    private static Dictionary<string, string> GetMemInfo() =>
        File.ReadLines("/proc/meminfo")
            .Select(l => l.Split(':', 2, StringSplitOptions.TrimEntries))
            .ToDictionary(p => p[0], p => p[1]);

    private static Dictionary<string, string> GetWifiInfo()
    {
        try
        {
            string[] fields = Util.RunCommand("nmcli", "-t -f active,ssid,chan,rate,signal dev wifi").Split('\n').Where(l => l.StartsWith("yes:")).First().Split(':');

            return new Dictionary<string, string>
            {
                {"active", fields[0]},
                {"ssid", fields[1]},
                {"chan", fields[2]},
                {"rate", fields[3]},
                {"signal", fields[4]},
                {"quality", Convert.ToInt32(fields[4]) switch { > 80 => "great", > 55 => "good", > 30 => "weak", > 5 => "bad", _ => "terrible" } }
            };
        }
        catch
        {
            return new Dictionary<string, string> { { "active", "no" }, { "ssid", "" } };
        }


    }
}

@{
    var localIP = GetLocalIPAddress();
    var hostname = Util.RunCommand("hostname").ToLower();
}

<h2>General</h2>

<div class='w3-panel'>
    <table class='w3-table-all w3-card' style='max-width: 700px;'>
        <tr><th style="width: 25%;">rt4k_pi</th><td>v@(rt4k_pi.Program.VERSION)</td></tr>
        <tr><th>RT4K Connection</th><td>@(Model.Serial?.IsConnected == true ? "Connected" : "Disconnected")</td></tr>
        <tr><th>IP Address</th><td>@localIP</td></tr>
        <tr><th>Hostname</th><td>@(hostname).local</td></tr>

        @if (Model.IsLinux)
        {
            var memInfo = GetMemInfo();
            var root = new DriveInfo("/");

            <tr><th>Total RAM</th><td>@memInfo["MemTotal"]</td></tr>
            <tr><th>Free RAM</th><td>@memInfo["MemAvailable"]</td></tr>
            <tr><th>Free Storage</th><td>@(((double)root.AvailableFreeSpace / root.TotalSize * 100).ToString("F2"))%</td></tr>
        }

        <tr><th>Uptime</th><td>@FormatTimeSpan(GetUptime())</td></tr>
    </table>
</div>

<h2>WiFi</h2>

<div class='w3-panel'>
    <table class='w3-table-all w3-card' style='max-width: 700px;'>
        @{
            var wifiInfo = GetWifiInfo();

            if (!string.IsNullOrWhiteSpace(wifiInfo["ssid"]))
            {
                <tr><th style="width: 25%;">SSID</th><td>@wifiInfo["ssid"]</td></tr>
                <tr><th>Signal</th><td>@wifiInfo["signal"]% (@wifiInfo["quality"])</td></tr>
                <tr><th>Speed</th><td>@wifiInfo["rate"]</td></tr>
                <tr><th>Channel</th><td>@wifiInfo["chan"]</td></tr>
            }
            else
            {
                <tr><th>&#x274C; Disconnected/Unknown</th></tr>
            }
        }
    </table>
</div>

<h2>Services</h2>

<div class='w3-panel'>
    <table class='w3-table-all w3-card' style='max-width: 700px;'>
        <tr><th style="width: 25%;">Web</th><td>&#x1F7E2; http://@(hostname).local</td></tr>
        <tr><th>ser2net</th>
            @if(Model.Ser2net != null)
            {
                <td>&#x1F7E2; @(hostname).local:@Model.Ser2net.Port</td>
            }
            else
            {
                <td>&#x274C; Not running</td>
            }
        </td></tr>
        <tr><th>WebDAV</th><td>&#x274C; Not implemented</td></tr>
    </table>
</div>